$grisOscuro: #1c1c1e;
$grisClaro:#f2f1f7f1;

$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

/* Estilos para el modo claro */
body {
  background-color: $grisClaro;
  color: black;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  transition: .3s ease all;

  &.dark{
    background-color: black;
    color:white;
  }

}

.imagen-proyectos{
/* Actualmente sin funcionar*/
  height: auto;
  width: 200px;
}

/*
.imagen-proyectos:hover{
  filter: blur(3px);
}*/

.imagen-profile{
  /* No funciona actualmente */
  height: auto;
  width: 100px;
}


.card {
  /* Estilos para las cards en modo claro */
  background-color: white ;
  color: black;
  border: 2px solid gray; /* Estilo de borde deseado */
  border-radius: 5px; /* Opcional: añade esquinas redondeadas al borde */
  box-shadow: $sombraDark;
  cursor:pointer;

  &:hover {
    border-width: 4px;
    border-color: dark;
  }

  body.dark & {
    background: $grisOscuro;
    box-shadow: $sombraLight;
    border-color: $sombraLight;
    p, h5 {
      color:white;
    }
    &:hover {
      border-width: 4px;
      border-color: white;
    }
  }
}

.card-text{
  height: 50px;
  width: auto;
}

.card-body{
  height: 180px;
  width: auto;
}


.navbar {
  border-bottom: 3px solid black; /* Estilo de borde deseado */
  border-radius: 5px; /* Opcional: añade esquinas redondeadas al borde */
  background-color:white;
  box-shadow: $sombraDark;

  body.dark & {
    background: $grisOscuro;
    box-shadow: $sombraLight;
    border-color: white;
    a {
      color:$grisClaro;
      &:hover {
        color: white;
      }
    }
  }
}

.navbar-toggler-icon {
  color: red !important;

  body.dark &{
    color:white !important;
  }
}

.footer{
  background-color:white;
  border-top: 3px solid black; /* Estilo de borde deseado */
  border-bottom: 3px solid black; /* Estilo de borde deseado */
  box-shadow: $grisOscuro;

  body.dark & {
    background: $grisOscuro;
    box-shadow: $grisClaro;
    border-color: white;
  }
}

body.dark-mode .footer{
  background-color:#1c1c1e;
  border-top: 3px solid white; /* Estilo de borde deseado */
  border-bottom: 3px solid white; /* Estilo de borde deseado */
}

.btn-circle {
  border-radius: 50%;
}
