:root{
  --greyDarkTheme: #1c1c1e;
  --grayLightTheme: #f2f1f7e0;
  --border-nav-footer: 3px solid black;
  --card-shadow:10px 10px 20px rgba(170, 170, 170, 0.16);
}


main{
  background-color: var(--grayLightTheme);
  transition: 0.3s ease all;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  
}

body.dark main {
  background-color: black;
  color: white;
}


/* ARREGLAR */ 
.imagen-profile {
  /* No funciona actualmente */
  height: auto;
  width: 100px;
}

/* CARDS */ 
.card {
  background-color: white;
  border-color: gray;
  box-shadow: var(--card-shadow);
}

body.dark .card {
  background: var(--greyDarkTheme);
  border-color: white;
}

.card-text {
  /* SE ENCUENTRA EN CARD PROJECT, CARD EXPER Y EDUC*/
  height: 30px;
  width: auto;
}

.card-size-body {
  /* SE ENCUENTRA EN CARD PROJECT, CARD EXPER Y EDUC*/
  height: 180px;
  width: auto;
}

/* CARDS PROFILE */ 
.card-profile .btn-git{
  border: 1px solid lightgray;
}
/*
.body.dark .card-profile .btn-git{
  background-color: var(--greyDarkTheme);
  border: var(--border-nav-footer);
}*/

/* CARDS PROJECT */ 
.card-project{
  cursor:pointer;
  border: 2px solid;
}

.card-project .container-badge {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card-project .image-container {
  position: relative;
  overflow: hidden;
}

.card-project .image-container:hover .container-badge {
  display: block;
}

/* CARDS EXPERIENCE & EDUCATION */ 
.card-exp-educ .card-body{
  text-align: left;
}

.card-exp-educ .container{
  background-color: var(--grayLightTheme);
  border-radius: 20px;
}

body.dark .card-exp-educ .container{
  background-color: black;
}

/* ELEMENT-TRANSITION*/
.element-transition{
  transition: all 0.2s;
} 

.element-transition:hover{
  transform: scale(1.07);
}

/* CONTAINER SKILL  */ 
.container-skill-lang{
  border: 2px solid gray;
  border-radius: 20px;
}

body.dark .container-skill-lang{
  background-color: var(--greyDarkTheme);
  color:white;
  border-color: white;
}

/* CONTAINER-CONTACT */


/* NAVBAR */ 
.navbar {
  border-bottom: var(--border-nav-footer); /* Estilo de borde deseado */
  border-radius: 0 0 5px 5px; /* Opcional: añade esquinas redondeadas al borde */
  background-color: white;
}
body.dark .navbar, body.dark .footer {
  background: var(--greyDarkTheme);
  border-color: white;
}

body.dark nav ul li a, body.dark nav a{
  color: rgba(242, 241, 247, 0.8784313725);
}

body.dark .navbar a:hover {
  color: white;
}

/* FOOTER */ 
.footer {
  background-color: white;
  border-top: var(--border-nav-footer);
  box-shadow: var(--greyDarkTheme);
}

.footer p{
  margin:0;
}

body.dark footer .container .lead {
  border-color: white;
}



