{% extends 'layout.html' %}
{% load static %}
{% block title %}My Portflio{% endblock %}
{% block content %}
    <section>
        <div class="card card-body rounded-5 animate__animated animate__zoomIn" style="">
            <div class="row">
                <div class="col-md-3">
                    <img style="width: 250px; height: auto; border-radius: 50%;" src="{% static 'portfolio/profile.JPEG' %}" alt="profile">
                </div>
                <div class="col-md-9 my-auto">

                    <h1>I am <strong>Paz, Augusto Cesar</strong></h1>
                    <h3>I am a Python FullStack Developer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Ipsa ratione assumenda nobis. Accusamus incidunt nemo obcaecati natus!
                        Magni animi, aliquid veritatis minima sed numquam impedit distinctio consequatur 
                        aliquam quod quasi!00</p>
                    <!-- <a href="{% static 'portfolio/CV_PA.pdf' %}" class="btn btn-primary btn-lg rounded-3 my-3" target="_blank">
                        <i class="fa-thin fa-file-user"></i> Descargar CV
                    </a> -->
                    <a href="https://www.linkedin.com/in/augusto-p-698947159/" class="btn btn-primary btn-circle btn-lg my-3" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2xl"></i> 
                    </a> 
                    <a href="https://github.com/AugustP748" class="btn btn-light btn-circle btn-lg my-3" target="_blank">
                        <i class="fa-brands fa-github fa-2xl" style="color: #212731;"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="row my-4 text-center justify-content-center">

        <div data-aos="zoom-in-down">
            <h3>My Projects</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit, eligendi.</p>
        </div>

        {% if projects and Are_All_Not_Visible == False %}
            {% for project in projects %}
                {% if project.visible %}
                    <div class="col-md-4 p-4">
                        <div class="card card-project" data-aos="zoom-in">
                            <img class="img-fluid card-img-top" src="{{project.image.url}}" 
                            alt="{{project.title}}" style="width: auto; height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">{{project.title}}</h5>
                                <p class="card-text">{{project.description|striptags|truncatechars:70}}</p>
                                {% if project.url %}
                                    <a href="{{project.url}}" class="btn btn-light rounded-3 btn-sm" style="border: 2px solid grey;"
                                    target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #212731;"></i> View Code</a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>There isn't Any Project here</h2>
        {% endif %}
    </section>

    <section data-aos="zoom-in-down">
        <div class="card text-center rounded-5">
            
            <div class="card-body">
              <h3 class="card-title"><i class="fa-solid fa-screwdriver-wrench fa-lg"></i> Habilidades</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
    </section>

    <section class="row my-4 text-center justify-content-center">
        <div data-aos="zoom-in-down">
            <h3><i class="fa-solid fa-code fa-lg"></i> Tecnologías</h3>
            <div class="col-md-4 p-4">
                
                <div class="card">
                    <!-- <img class="card-img-top" src="{% static 'images/Python-logo.png' %}" alt="Title">-->
                    <div class="card-body">
                        <h4 class="card-title">Python</h4>
 
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}